/Windows/Analyzer Console/Debug
/Windows/Analyzer Console/ipch
/Windows/Analyzer Console/*.sdf
/Windows/Analyzer Console/Analyzer Console/Debug
/Windows/Analyzer Console/*.suo
/Windows/Analyzer Console/x64
/Windows/Analyzer Console/Release
